name: Release Action

on:
  release:
    types:
      - published

concurrency:
  group: '${{ github.workflow }}'
  cancel-in-progress: true

jobs:
  deploy_container:
    name: Deploy Container
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Get version number
        id: version
        run: |
          version=$(echo "${{ github.ref }}" | awk -F"/" '{print $NF}' )
          echo "version=$version" >> $GITHUB_OUTPUT

      - name: Login to GitHub Container Registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/signaling-server:${{ steps.version.outputs.version }}
            ghcr.io/${{ github.repository_owner }}/signaling-server:latest
